@{
    ViewBag.Title = "About Find Your College!";
}
<center>
    <h2 style="color: #337ab7;padding-top:20px;">
        @ViewBag.Title
    </h2></center>
<br />


@*<p>Use this area to provide additional information.</p>
*@

<style>
    #des {
        font-size: 16px;
        line-height: 1.625;
        font-family: 'Roboto',sans-serif;
    }
    

</style>

<body>
    <div class="container" style="padding-top:40px;">

        <p id="des" style="margin-bottom:26px;">
            The beauty of postsecondary education is that <b>
                college can yield tangible and intangible benefits
                for you that in turn benefit others
            </b> – even if school doesn’t awaken your sleeping - Pablo Picasso, Stephen Hawking, or Bill Gates.
        </p>

        <p id="des" style="margin-bottom:20px;">
            <b>Find Your College's</b> business objective is to facilitate colleges and universities with student recruitment across all streams and degresss. With
            over 1000 partner colleges as it's clients, Our web site has 35k+ unique colleges listed on its websie and offers latest information admissions, entrance tests,
            infrastructure, courses and careers.

        </p>

      
    </div>
</body>


